<article class="page-card {{ with .Params.image }}has-image{{ end }}">
  {{ if isset .Params "image" }}
    {{ $image := partial "get-image.tmpl" . }}

    <a class="page-card-image-link" href="{{ .Permalink }}">
      <img class="page-card-image" alt="{{ .Title }}" src="{{ $image }}"/>
    </a>
  {{ end }}

  <header>
    <strong class="page-card-title">
      <a href="{{ .Permalink }}">
        {{ .Title }}{{ with .Pages }}<sup>({{ len . }})</sup>{{ end }}
      </a>
    </strong>

    <p class="page-card-description">
      {{ with .Description }}
        {{ $sectDesc := ($.Site.GetPage $.Section).Description }}
        {{ if or ($.IsSection) (ne . $sectDesc) }}{{ . }}{{ end }}
      {{ end }}
    </p>

    <div class="page-card-metadata">
      {{ partial "page/metadata.tmpl" . }}
    </div>
  </header>
</article>
