{{ $id := .Get "id" | default (.Get 0) }}

{{ $content := split .Inner "\n--- PLAYGROUND ---\n" }}
{{ $code := index $content 0 }}

{{ $.Page.RenderString $code }}

{{ if gt (len $content) 1 }}
  {{ $code = index $content 1 }}
{{ end }}

{{ $code = trim $code "\n" }}
{{ $code = strings.TrimPrefix "```go\n" $code }}
{{ $code = strings.TrimSuffix "\n```" $code }}

<div class="go-playground">
  <a target="_blank" rel="noopener noreferrer"
     {{ with $id }}
       href="{{ $.Page.Site.Params.goPlayground }}/p/{{ . }}"
     {{ else }}
       class="go-playground-link" href="#" data-code="{{ base64Encode $code }}"
     {{ end }}>
    {{ i18n "SHORTCODE_GO_PLAYGROUND_RUN" }}
  </a>
</div>

{{ if ne ($.Page.Scratch.Get "sc-go-playground") true }}
  <style>
    .go-playground-link {
      display: none;
    }
  </style>

  <script>
    window.goPlaygroundURL = '{{ $.Page.Site.Params.goPlayground }}'
  </script>

  {{ .Scratch.Set "jsSrc" "js/sc-go-playground.js" }}
  {{ $script := partial "build-js.tmpl" . }}
  <script defer src="{{ $script.Permalink }}"></script>

  {{ $.Page.Scratch.Set "sc-go-playground" true }}
{{ end }}

